*.d
*.so
*.pcm
*.root
*.json

Actarsim_build/*
JuanClustering/*

Ransac-ACTAR/Images/
Ransac-ACTAR/Results_Images

LOGBOOK TESI

precalibrator-ACTAR/.ipynb_checkpoints/*
NNdevelopment/findEvents.ipynb
.ipynb_checkpoints/*
