*.d
*.so
*.pcm
*.root
*.json

JuanClustering/*

Ransac-ACTAR/Images/
Ransac-ACTAR/Results_Images

LOGBOOK TESI

precalibrator-ACTAR/.ipynb_checkpoints/*
NNdevelopment/findEvents.ipynb
.ipynb_checkpoints/*
InternshipCertificate.pdf
Ransac-ACTAR/Event2DPrint.jpg
Ransac-ACTAR/NOEvent2DPring.jpg
Ransac-ACTAR/pngrun69.pdf
Ransac-ACTAR/pngRun71.pdf


simACTAR/Actarsim/*


./ARDA-Ransac-Demonstrator/bin_old/*
./ARDA-Ransac-Demonstrator/OLDbin_root6.24.06/*


